{% extends 'base.html' %}


{% block content %}
    {% if not request.user.is_authenticated %}
    <div>
        <br><br>
        {% if error %}
        <p>{{error}}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}

            <input type="text" name="username" placeholder="username"><br><br>
            <input type="password" name="password" placeholder="password"><br><br>
            <button type="submit">Login</button>
            <p>Want to register? <a href="{% url 'register' %}">Register</a></p>
        </form>
    </div>
    {% else %}
    <p>You are already logged in. Want to <a href="{% url 'logout' %}">Logout</a>?</p>
    {% endif %}
{% endblock %}