{% extends 'base.html' %}


{% block content %}
    {% if not created %}
    <div>
        <br><br>
        <form method="post">
            {% csrf_token %}

            <input type="text" name="title" placeholder="title"><br><br>
            <textarea name="content" placeholder="content"></textarea><br>
            <button type="submit">Submit</button>
        </form>
    </div>
    {% else %}
    <a href="../../article/{{article.id}}/">{{article.title}}</a>

    {% endif %}
<!--    <br>-->
<!--    <a href="{% url 'home' %}">go home</a>-->
{% endblock %}